<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Recapify</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body class="bg-dark text-light">
  <div class="offcanvas offcanvas-start show bg-black text-white" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" style="width: 212px;">
    <div class="offcanvas-header p-0">
      <img src="/static/recapify.png" alt="Logo" class="w-100 p-5 pb-4">
    </div>
    <div class="offcanvas-body p-0">
      <ul class="navbar-nav">
        <li class="nav-item"><a href="/home" class="nav-link px-5">Recapify home</a></li>
        <li class="nav-item"><a href="/saved-tracks" class="nav-link px-5 active">Saved tracks</a></li>
        <li class="nav-item"><a href="/top-tracks" class="nav-link px-5">Top tracks</a></li>
        <li class="nav-item"><a href="/top-artists" class="nav-link px-5">Top artists</a></li>
        <li class="nav-item"><a href="/playlists" class="nav-link px-5">Playlists</a></li>
        <li class="nav-item"><a href="/recently-played" class="nav-link px-5">Recently played</a></li>
      </ul>
    </div>
  </div>
  <main class="p-5 pe-4" style="margin-left: 212px;">
    <h1 class="display-5 mb-5">Your saved tracks</h1>
    <div class="d-flex flex-wrap">
      {% for track in saved_tracks %}
        <div class="card mb-4 me-4" style="width: 18rem; overflow: hidden;">
          <img src="{{ track.image }}" alt="" class="card-img-top">
          <h6 class="card-header bg-dark">Album: {{ track.album }}</h6>
          <div class="card-body bg-black">
            <h5 class="card-title">{{ track.name }}</h5>
            <h6 class="card-subtitle mb-2">Artist(s): {{ track.artists }}</h6>
            <p class="card-text">Released: {{ track.release_date }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </main>
</body>
</html>